.login {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.login > div {
  flex: 0 0 auto;
  margin: 10px;
}
