.about {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__heading {
    color: white;
    font-size: 3rem;
    text-align: center;
  }

  &__text {
    color: white;
    line-height: 1.5rem;
    margin: 1rem 3rem;
    text-align: justify;
  }
}
