.header {
  align-items: center;
  background-color: black;
  display: flex;
  font-size: 23px;
  font-weight: normal;
  height: 90px;
  justify-content: space-between;
  width: 100%;

  &__navigation {
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    width: 30%;

    &--destination:visited,
    &--destination:link {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
