.footer {
  align-items: center;
  background-color: black;
  color: rgb(192, 191, 191);
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  height: 330px;
  width: 100%;

  &__directions {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    margin-left: 25%;

    &--paragraph {
      margin-left: -3%;
      margin-top: 0;
    }
  }

  &__contacts {
    display: flex;
    flex: 0 0 45%;
    flex-direction: column;
    line-height: 0;
    margin-left: 5%;

    &--paragraph {
      margin-left: 13%;
      margin-top: 0;
    }
  }
  &--copyright {
    font-size: 18px;
    margin-top: 3em;
  }
}
